extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="imagen del viaje", class="img-fluid")
            .col-md-7
                h1= viaje.titulo
                p 
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                        path(d='M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z')
                        path(d='M16 3v4')
                        path(d='M8 3v4')
                        path(d='M4 11h16')
                        path(d='M7 14h.013')
                        path(d='M10.01 14h.005')
                        path(d='M13.01 14h.005')
                        path(d='M16.015 14h.005')
                        path(d='M13.015 17h.005')
                        path(d='M7.01 17h.005')
                        path(d='M10.01 17h.005')
                    |  #{viaje.fecha_ida} - #{viaje.fecha_vuelta}        

                p 
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                        path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                        path(d='M14.401 8c-.669 -.628 -1.5 -1 -2.401 -1c-2.21 0 -4 2.239 -4 5s1.79 5 4 5c.9 0 1.731 -.372 2.4 -1')
                        path(d='M7 10.5h4')
                        path(d='M7 13.5h4')
                    |  #{viaje.precio}  €

                p 
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                        path(d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                        path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                        path(d='M16 3.13a4 4 0 0 1 0 7.75')
                        path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')

                    |  #{viaje.disponibles}  Disponibles

                p  En NODE.js necesitamos la dependencia de express para realizar las funciones que un servidor local haría, por ejemplo Apache en PHP, pero en este caso se instala como dependencia del proyecto en lugar de ser una app de windows/linux. Sobre express necesitamos las dependencias para renderizar vistas, hay varias, cada una con sus cositas pero las más uasadas son EJS y PUG, una utiliza sintaxis similar a html y la otra utiliza sintáxis minimalista… En nuestro proyecto usamos PUG. 
                            
